@import "../../style.scss";

.home {
	@include themify($themes) {
		// padding: 20px 70px;
		// height: 100vh;

		@include mobile {
			padding: 10px;
		}

		@include tablet {
			padding: 20px;
		}
		.header {
			background-color: themed("bgSoft");
			color: themed("textColor");
			display: flex;
			align-items: center;
			flex-direction: column;
			h1 {
				// margin-top: 20px;
				font-size: 60px;
				font-weight: 600;
			}
			h2 {
				margin: 30px 0;
				margin-bottom: 40px;
				font-weight: 300;
				font-size: 25px;
			}
			.car {
				margin-top: 40px;
				padding: 0 50px;
				div {
					img {
						width: 100%;
					}
					.label {
						margin-top: 20px;
						font-size: 25px;
						color: themed("textColor");
						font-weight: bold;
					}
				}
				.thumb {
					display: none;
				}
			}
		}
		.body {
			.services {
				margin: 50px;
				font-size: 25px;
				color: themed("textColor");
				.upper {
					margin: 40px 0;
					display: flex;
					align-items: center;
					flex-direction: row;
					justify-content: space-around;
					.left {
						background-color: themed("bgSoft");
						border-radius: 10px;
						padding: 10px;
						width: 800px;
						height: 200px;
					}
					.right {
						background-color: themed("bgSoft");
						border-radius: 10px;
						padding: 10px;
						width: 800px;
						height: 200px;
					}
				}
				.lower {
					display: flex;
					align-items: center;
					flex-direction: row;
					justify-content: space-around;
					.left {
						background-color: themed("bgSoft");
						border-radius: 10px;
						padding: 10px;
						width: 800px;
						height: 200px;
					}
					.right {
						background-color: themed("bgSoft");
						border-radius: 10px;
						padding: 10px;
						width: 800px;
						height: 200px;
					}
				}
			}
		}
	}
}
