// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Urbanist:wght@500;700;900&display=swap");
// * {
// 	font-family: "Poppins", sans-serif;
// 	// font-family: "Urbanist", sans-serif;
// }

$themes: (
	light: (
		textColor: #333,
		bg: white,
		logo: #333,
		bgSoft: #f4f8fd,
		textColorSoft: #555,
		border: lightgray,
		buttonBg: #333,
	),
	dark: (
		textColor: whitesmoke,
		bg: #212121,
		logo: white,
		bgSoft: #111111,
		textColorSoft: lightgray,
		border: #444,
		buttonBg: rgb(231, 231, 231),
	),
);

@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}

@mixin mobile {
	@media (max-width: 480px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: 960px) {
		@content;
	}
}
// *{
// 	background-color: #ebebeb;
// }
